// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "reset";
@import "navbar";
@import "footer";

@-webkit-keyframes logo-rotate {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-moz-keyframes logo-rotate {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-o-keyframes logo-rotate {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes logo-rotate {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

#homeVideo {
    video {
        position: fixed;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }

    #rollingLogo {
        z-index: 100000;

        img {
            width: 250px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -125px;
            margin-top: -125px;
        }

        #out {
            -webkit-animation: logo-rotate 20s infinite linear !important;
            -moz-animation: logo-rotate 20s infinite linear !important;
            -o-animation: logo-rotate 20s infinite linear !important;
            animation: logo-rotate 20s infinite linear !important;
        }
    }
}
