
.navbar {
    .navbar-nav {
        .nav-item {
            .nav-link {
                text-transform: uppercase;
                font-size: 12px !important;

                &#menuToggler {
                    font-weight: normal;
                    font-size: 1.8rem !important;
                    padding: 0;
                }
            }
        }
    }

    &.black {
        .navbar-brand {
            svg {
                fill: $black !important;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $black;
                }
            }
        }
    }

    &.white {
        .navbar-brand {
            svg {
                fill: $white !important;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $white !important;
                }
            }
        }
    }
}
